# DB
POSTGRES_HOST=postgresql
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kanban

# API de dados
OPERA_PORT=2111
OPERA_LINK=http://operafr-app:${OPERA_PORT}
OPERA_API_KEY=
OPERA_FOLDER_ID=1

JWT_SECRET=19139208